<!-- 수정: src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="bg-primary text-white p-3 mb-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" th:href="@{/}">Spring Board</a>
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">홈</a>
                <a class="nav-link" th:href="@{/boards}">게시판</a>
                <!-- 로그인하지 않은 경우 -->
                <a class="nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
                <a class="nav-link" th:href="@{/members/signup}" sec:authorize="isAnonymous()">회원가입</a>
                <!-- 로그인한 경우 -->
                <ul class="navbar-nav ms-auto" sec:authorize="isAuthenticated()">

                    <!-- 관리자 메뉴 -->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link text-warning" th:href="@{/admin/members}">회원관리</a>
                    </li>
                    <!-- 사용자 드롭다운 메뉴 - 추가 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown">
                            <span sec:authentication="name">사용자</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/members/profile}">내 프로필</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">로그아웃</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</html>
