<!-- 새 파일: src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="bg-primary text-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <strong>Spring Boot Board</strong>
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards}">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">소개</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</html>
